<!DOCTYPE html>
<html>
<head>
	<% include partials/template/head.ejs %>
	<% include partials/content/tracking.ejs %>
</head>

<body>
	<% include partials/content/trackingphp.ejs %>
	<% include partials/template/header.ejs %>

	<main>
		<div id="content">
			<h2>Add bot to your server now!</h2>
			<p>
				aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa! Click <a href="https://discordapp.com/oauth2/authorize?client_id=173850975608635392&scope=bot&permissions=0">here</a> to add bot to a server.
			</p>
		</div>
	</main>
	<% include partials/template/footer.ejs %>
</body>
</html>