<!DOCTYPE html>
<html>
<head>
	<% include partials/template/head.ejs %>
	<% include partials/content/tracking.ejs %>
</head>

<body>
	<% include partials/content/trackingphp.ejs %>
	<main>
		<% include partials/template/header.ejs %>

		<div id="content">
			<% include partials/template/aside_bot.ejs %>

			<div id="console-content">
				<h1>Idk</h1>
			</div>
		</div>

		<% include partials/template/footer.ejs %>
	</main>
</body>
</html>