<!DOCTYPE html>
<html>
<head>
	<% include partials/template/head.ejs %>
	<% include partials/content/tracking.ejs %>
</head>

<body>
	<% include partials/content/trackingphp.ejs %>
	<main>
		<% include partials/template/header.ejs %>

		<div id="content">
			<div id="content-invite">
				<h1>Some interesting title!</h1>
				<p>really cool description here</p>
				<p>Rated 10/10 by <i>myself</i></p>
				<a href="https://discordapp.com/oauth2/authorize?client_id=173850975608635392&scope=bot&permissions=0">Invite</a>
			</div>
		</div>

		<% include partials/template/footer.ejs %>
	</main>
</body>
</html>